



body{
	font-family: sans-serif;
	background-repeat: repeat;
	background-image:url(purple.png);
	background-size: cover;

}
.leftexp{
	padding: 20px;
	background-color: #373a90;
	width: 300px;
	margin-top: 9px;
	color: white;
	height: 400px;
	margin-left: 600px;
	opacity: 19px;

}
.lab1{
	margin-left: 10px;
}
.label1{
	margin-left: -188px;
}
.rightexp {
	text-align: center;
	margin-left: 600;
	margin-top: -440px;
}
img{
	width: 328px;
	height: 440px;
}
h1{
	font-size:25px;
	color: pink;
}
input{
		border-left: none;
	border-right: none;
	border-top:none; 
	background-color: #373a90;
	border-color: white;
	color: white;

}
.input1{
	border-left: none;
	border-right: none;
	border-top:none; 
	background-color: #373a90;
	border-color: white;
	margin-left: 90px;
}
button{
	border-style: none;
	width: 130px;
	height: 36px;
	background-color: pink;
	color: white;

}
select{
	border-left: none;
	border-right: none;
	border-top:none; 
	background-color: #373a90;
	border-color:  #373a90;
	color: white;

	
}
@media screen and (min-width:1500px){
	form{
		height: 100px;
	}
}